.user-details {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-details .image {
    height: 35px !important;
    width: 35px !important;
    border: var(--img-border) !important;
}
