main section.settings {
    margin-top: 1.3rem !important;
}

main section.settings .tab-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    color: var(--color-dark-variant);
}

main section.settings .section-divider {
    height: 2px;
    background-color: var(--color-background);
    margin-top: 1.2rem;
    margin-bottom: 1.3rem;
}

main section.settings .tab-header h3 {
    font-size: 1.45rem;
    font-weight: 600;
    color: var(--color-dark);
}

main section.settings .tab-header p {
    color: var(--color-dark-variant) !important;
    font-size: 0.9rem;
    font-weight: 500;
}

main section.settings .ui.form .field .add-url-btn {
    border-radius: 0.4rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    text-wrap: nowrap;
    width: fit-content;
}
