<div class="sidebar">
    <div class="sidebar-logo">
        <img class="rounded-circle" src="assets/img/logo.jpg" />
        <h2>Admin<span class="text-danger">Panel</span></h2>
    </div>
    <div class="nav flex-column sidebar-menu">
        <a class="nav-link" href="dashboard.html"><span class="material-icons-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a class="nav-link active" href="#"><span class="material-icons-sharp">person_outline</span>
            <h3>Users</h3>
        </a>
        <a class="nav-link" href="#"><span class="material-icons-sharp">history</span>
            <h3>History</h3>
        </a>
        <a class="nav-link" href="analytics.html"><span class="material-icons-sharp">analytics</span>
            <h3>Analytics</h3>
        </a>
        <a class="nav-link" href="#"><span class="material-icons-sharp">confirmation_number</span>
            <h3>Tickets</h3>
        </a>
        <a class="nav-link" href="#"><span class="material-icons-sharp">receipt_long</span>
            <h3>Sales List</h3>
        </a>
        <a class="nav-link" href="#"><span class="material-icons-sharp">report</span>
            <h3>Reports</h3>
        </a>
        <a class="nav-link" href="settings.html"><span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
        </a>
        <a class="nav-link" href="#"><span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</div>